---

Language: Cpp
IndentWidth: 2
ColumnLimit: 120
UseTab: Never
MaxEmptyLinesToKeep: 2

SortIncludes: true
CompactNamespaces: true
ReflowComments: false

DerivePointerAlignment: false
PointerAlignment: Left
QualifierAlignment: Left
ReferenceAlignment: Left
RequiresClausePosition: OwnLine

BinPackArguments: false
BinPackParameters: OnePerLine

AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowBreakBeforeNoexceptSpecifier: OnlyWithParen
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortCompoundRequirementOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Empty
AllowShortLoopsOnASingleLine: true

BracedInitializerIndentWidth: 4

AlignAfterOpenBracket: AlwaysBreak
AlignArrayOfStructures: None
AlignConsecutiveAssignments: None
AlignConsecutiveMacros: None
AlignOperands: AlignAfterOperator
AlignTrailingComments:
  Kind: Never

BreakAfterAttributes: Always
BreakAfterReturnType: All
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Allman
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeComma
BreakFunctionDefinitionParameters: true
BreakInheritanceList: BeforeComma
BreakTemplateDeclarations: Yes

BraceWrapping:
  AfterCaseLabel: true
  AfterClass: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterExternBlock: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: true
  BeforeWhile: true
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyNamespace: false
  SplitEmptyRecord: false

PackConstructorInitializers: Never

SpaceAroundPointerQualifiers: Default
SpaceBeforeAssignmentOperators: true
SpaceBeforeSquareBrackets: false
SpaceBeforeCaseColon: false
SpaceBeforeCtorInitializerColon: true
SpaceBeforeParens: ControlStatements
# SpaceInEmptyBraces: Always # Requires clang-format 22
SpacesInAngles: Never
SpaceInEmptyBlock: true
SpacesInParentheses: false
SpacesInSquareBrackets: false

NamespaceIndentation: All

IndentCaseLabels: true

FixNamespaceComments: false

Cpp11BracedListStyle: true
